

{% block content %}
  <h2>Your Blog Posts</h2>
  <ul>
    {% for post in blog_posts %}
      <li>
        <h3>{{ post.title }}</h3>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" height = "100px" width = "100px">
        <p>{{ post.summary }}</p>
        {% if post.draft %}
        <p>Draft: True</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <form action="{% url 'patient_blog_posts' %}">
    {% csrf_token %}
    <input type="submit" value="View all posts" style="height: 30px;width: 60px; margin-left: 750;">
  </form><br><br>
  <form action="{% url 'doctor_dashboard' %}">
    {% csrf_token %}
    <input type="submit" value="Home" style="height: 30px;width: 60px; margin-left: 750;">
  </form>

{% endblock %}
